* {
  margin: 0;
  padding: 0;
}

.section1 {
  background-image: url(images/logo2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}
.logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: green;
  height: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.buttons {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  font-style: oblique;
  font-size: 15px;
}
.image-product {
  height: 300px;
  width: 250px;
  cursor: pointer;
}
.democlothes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.products-container {
  background-color: wheat;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.button-cart {
  background-color: #e7e40c;
  color: white;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
}
.section2 {
  background-image: url(icons/logo3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  margin-top: 100px;
}
.democlothes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Cart Tab Styles */

.cart-tab {
  width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: solid 1px black;
  padding: 20px;
  z-index: 200;
  grid-template-columns: 70px 1fr 70px;
}
.cart-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close-btn {
  background-color: red;
  color: white;
  border: none;
  height: 80px;
  width: 180px;
  cursor: pointer;
}
.checkout-btn {
  background-color: green;
  color: white;
  border: none;
  height: 80px;
  width: 180px;
  cursor: pointer;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  height: auto;
}
